@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h4>Resource Link</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ToolName)</dt>
        <dd>@Html.DisplayFor(m => m.ResourceLink.ToolName)</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ToolUrl)</dt>
        <dd>@Html.DisplayFor(m => m.ResourceLink.ToolUrl)</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ToolPlacement)</dt>
        <dd>@Html.DisplayFor(m => m.ResourceLink.ToolPlacement)</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ClientName)</dt>
        <dd>@Html.DisplayFor(m => m.ResourceLink.ClientName)</dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.ResourceLink.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>