@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Deployment</h4>
        <hr />
        <dl>
            <dt>@Html.DisplayNameFor(m => m.Deployment.ToolName)</dt>
            <dd>@Html.DisplayFor(m => m.Deployment.ToolName)</dd>
            <dt>@Html.DisplayNameFor(m => m.Deployment.ToolUrl)</dt>
            <dd>@Html.DisplayFor(m => m.Deployment.ToolUrl)</dd>
            <dt>@Html.DisplayNameFor(m => m.Deployment.ToolPlacement)</dt>
            <dd>@Html.DisplayFor(m => m.Deployment.ToolPlacement)</dd>
            <dt>@Html.DisplayNameFor(m => m.Deployment.ClientName)</dt>
            <dd>@Html.DisplayFor(m => m.Deployment.ClientName)</dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Deployment.Id" />
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>