@page
@model IndexModel

@{
    ViewData["Title"] = "Deployments";
}

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Tool @Html.DisplayNameFor(m => m.Deployments[0].Tool.Name)</th>
                <th>Client @Html.DisplayNameFor(m => m.Deployments[0].Client.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Deployments[0].ToolPlacement)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deployments)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Tool.Name)</td>
                    <td>@Html.DisplayFor(m => item.Client.Name)</td>
                    <td>@Html.DisplayFor(m => item.ToolPlacement)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>