@page
@model CreateModel

@{
    ViewData["Title"] = "Tools";
}

<div class="container-fluid">
    <h4>Register Tool</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Tool.DeploymentId"/>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Tool Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Tool.Name"></label>
                            <input asp-for="Tool.Name" class="form-control" />
                            <span asp-validation-for="Tool.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.LoginUrl"></label>
                            <tooltip asp-for="Tool.LoginUrl"></tooltip>
                            <input asp-for="Tool.LoginUrl" class="form-control" />
                            <span asp-validation-for="Tool.LoginUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.LaunchUrl"></label>
                            <tooltip asp-for="Tool.LaunchUrl"></tooltip>
                            <input asp-for="Tool.LaunchUrl" class="form-control" />
                            <span asp-validation-for="Tool.LaunchUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.DeepLinkingLaunchUrl"></label>
                            <tooltip asp-for="Tool.DeepLinkingLaunchUrl"></tooltip>
                            <input asp-for="Tool.DeepLinkingLaunchUrl" class="form-control" />
                            <span asp-validation-for="Tool.DeepLinkingLaunchUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.CustomProperties"></label>
                            <tooltip asp-for="Tool.CustomProperties"></tooltip>
                            <textarea asp-for="Tool.CustomProperties" class="form-control text-monospace" rows="3" placeholder="Put each name=value pair on a separate line."></textarea>
                            <span asp-validation-for="Tool.CustomProperties" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.ClientId"></label>
                            <input asp-for="Tool.ClientId" class="form-control" />
                            <span asp-validation-for="Tool.ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.PrivateKey"></label>
                            <tooltip asp-for="Tool.PrivateKey"></tooltip>
                            <textarea asp-for="Tool.PrivateKey" class="form-control text-monospace key" rows="5" placeholder="Enter the private key in PEM format."></textarea>
                            <span asp-validation-for="Tool.PrivateKey" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.DeploymentId"></label>
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                            <input asp-for="Tool.DeploymentId" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Platform Settings
                    </h5>
                    <div class="card-body">
                        <p>For reference when you register this platform in your tool.</p>
                        <dl>
                            <dt>@Html.DisplayNameFor(m => m.Tool.Issuer)</dt>
                            <dd>@Model.Tool.Issuer</dd>
                            <dt>@Html.DisplayNameFor(m => m.Tool.TokenUrl)</dt>
                            <dd>@Model.Tool.TokenUrl</dd>
                            <dt>@Html.DisplayNameFor(m => m.Tool.AuthorizeUrl)</dt>
                            <dd>@Model.Tool.AuthorizeUrl</dd>
                            <dt>@Html.DisplayNameFor(m => m.Tool.JwkSetUrl)</dt>
                            <dd>@Model.Tool.JwkSetUrl</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-secondary" />
        </div>
    </form>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#@($"{nameof(Model.Tool)}_{nameof(Model.Tool.PrivateKey)}")').bind('paste', function(){
            window.setTimeout(function(){
                var text = '';
                $($('#@($"{nameof(Model.Tool)}_{nameof(Model.Tool.PrivateKey)}")').val().split('\n')).each(function(i,v){
                    v = $.trim(v);
                    if (v.length > 0) text+= v+'\n';
                });
                console.log(text);
                $('#@($"{nameof(Model.Tool)}_{nameof(Model.Tool.PrivateKey)}")').val(text);
            },1);
        });
    </script>
}
