@page
@model DetailsModel

@{
    ViewData["Title"] = "Tools";
}
<div class="container">
    <h4>Tool Details</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header">
                    Tool Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ToolName)</dt>
                        <dd>@Model.Tool.ToolName</dd>
                        <dt>@Html.DisplayNameFor(model => model.Tool.ToolUrl)</dt>
                        <dd>@Model.Tool.ToolUrl</dd>
                    </dl>
                    <div class="alert alert-info">
                        The @Html.DisplayNameFor(m => m.Tool.ToolClientId)
                        and @Html.DisplayNameFor(m => m.Tool.ToolClientSecret)
                        here must match the values in the tool.
                    </div>
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ToolClientId)</dt>
                        <dd>@Model.Tool.ToolClientId</dd>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ToolClientSecret)</dt>
                        <dd>[not displayed]</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.ToolIssuer)
                            <tooltip asp-for="Tool.ToolIssuer"></tooltip>
                        </dt>
                        <dd>@Model.Tool.ToolIssuer</dd>
                    </dl>
                    <div class="alert alert-info">
                        If the @Html.DisplayNameFor(m => m.Tool.ToolIssuer) supports OpenID Connect Discover,
                        you can leave the next field blank.
                    </div>
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ToolJsonWebKeysUrl)</dt>
                        <dd>@(Model.Tool.ToolJsonWebKeysUrl??"[Not Set]")</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header">
                    Platform Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.DeploymentId)
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(model => model.Tool.DeploymentId)</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.PlatformIssuer)
                            <tooltip asp-for="PlatformIssuer"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(m => m.PlatformIssuer)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Tool.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>