@page
@using IdentityServer4.Extensions
@model DetailsModel

@{
    ViewData["Title"] = "Tools";
}
<div class="container-fluid">
    <h4>Tool Details</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Tool Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Tool.Name)</dt>
                        <dd>@Model.Tool.Name</dd>
                        <dt>@Html.DisplayNameFor(m => m.Tool.LaunchUrl)</dt>
                        <dd>@Model.Tool.LaunchUrl</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.CustomProperties)
                            <tooltip asp-for="Tool.CustomProperties"></tooltip>
                        </dt>
                        <dd><pre>@(Model.Tool.CustomProperties ?? "[Not Set]")</pre></dd>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ClientId)</dt>
                        <dd>@Model.Tool.ClientId</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.PrivateKey)
                            <tooltip asp-for="Tool.PrivateKey"></tooltip>
                        </dt>
                        <dd>
                            <pre class="securitykey">@Model.Tool.PrivateKey</pre>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Platform Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.DeploymentId)
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                        </dt>
                        <dd>@Model.Tool.DeploymentId</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.PlatformIssuer)
                            <tooltip asp-for="Tool.PlatformIssuer"></tooltip>
                        </dt>
                        <dd>@(Request.HttpContext.GetIdentityServerIssuerUri())</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Tool.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>