@page
@model DetailsModel

@{
    ViewData["Title"] = "Tools";
}
<div class="container-fluid">
    <h4>Tool Details</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Tool Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Tool.Name)</dt>
                        <dd>@Model.Tool.Name</dd>
                        <dt>@Html.DisplayNameFor(model => model.Tool.LaunchUrl)</dt>
                        <dd>@Model.Tool.LaunchUrl</dd>
                        <dt>@Html.DisplayNameFor(m => m.Tool.ClientId)</dt>
                        <dd>@Model.Tool.ClientId</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.JsonWebKeySetUrl)
                            <tooltip asp-for="Tool.JsonWebKeySetUrl"></tooltip>
                        </dt>
                        <dd>@(Model.Tool.JsonWebKeySetUrl ?? "[Not Set]")</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.PublicKey)
                            <tooltip asp-for="Tool.PublicKey"></tooltip>
                        </dt>
                        <dd>
                            <pre id="@Html.IdFor(m => m.Tool.PublicKey)" class="securitykey">@(Model.Tool.PublicKey ?? "[Not Set]")</pre>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card">
                <h5 class="card-header bg-secondary text-light">
                    Platform Settings
                </h5>
                <div class="card-body">
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(m => m.Tool.DeploymentId)
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(model => model.Tool.DeploymentId)</dd>
                        <dt>
                            @Html.DisplayNameFor(m => m.PlatformIssuer)
                            <tooltip asp-for="PlatformIssuer"></tooltip>
                        </dt>
                        <dd>@Html.DisplayFor(m => m.PlatformIssuer)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Tool.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>