@page
@using AdvantagePlatform.Utility
@model IndexModel

@{
    ViewData["Title"] = "Tools";
}

<div class="container-fluid">
    <h4>@ViewData["Title"]</h4>
    <p>
        <a asp-page="Create">Register New Tool</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Tools[0].Name)</th>
                <th>@Html.DisplayNameFor(m => m.Tools[0].ClientId)</th>
                <th>@Html.DisplayNameFor(m => m.Tools[0].DeploymentId)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in Model.Tools)
            {
                <tr>
                    <td>@tool.Name.IfMissingThen()</td>
                    <td>@tool.ClientId.IfMissingThen()/td>
                    <td>@tool.DeploymentId.IfMissingThen()</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@tool.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@tool.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@tool.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>