@page
@model DetailsModel

@{
    ViewData["Title"] = "Clients";
}
<div class="container">
    <h4>Client Details</h4>
    <hr />
    <div class="row">
        <div class="col">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.MyClient.Id)</dt>
                <dd>@Html.DisplayFor(model => model.MyClient.Id)</dd>
                <dt>@Html.DisplayNameFor(model => model.MyClient.Name)</dt>
                <dd>@Html.DisplayFor(model => model.MyClient.Name)</dd>
            </dl>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.MyClient.Id">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>