@page
@using Microsoft.AspNetCore.Http
@model DetailsModel

@{
    ViewData["Title"] = "Clients";
}
<div class="container">
    <h4>Client Details</h4>
    <p>
        The Issuer supports 
        <a href="@Model.Client.IssuerUri/.well-known/openid-configuration" target="_blank">OpenID Connect Discovery</a>.
        If your Tool does not support OpenID Connect Discovery, click on the link to display
        the individual URLs you will need to configure your tool.
    </p>
    <hr />
    <div class="row">
        <div class="col">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Client.IssuerUri)</dt>
                <dd>@Html.DisplayFor(model => model.Client.IssuerUri)</dd>
                <dt>@Html.DisplayNameFor(model => model.Client.ClientId)</dt>
                <dd>@Html.DisplayFor(model => model.Client.ClientId)</dd>
                <dt>@Html.DisplayNameFor(model => model.Client.ClientSecret)</dt>
                <dd>@Html.DisplayFor(model => model.Client.ClientSecret)</dd>
                <dt>@Html.DisplayNameFor(model => model.Client.ClientName)</dt>
                <dd>@Html.DisplayFor(model => model.Client.ClientName)</dd>
            </dl>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>