@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h4>Client</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.RedirectUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.RedirectUrl)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>