@page
@using AdvantagePlatform.Utility
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <h4>Platform Link</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.Title)</dt>
        <dd>@Model.ResourceLink.Title.IfMissingThen()</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.Description)</dt>
        <dd>@Model.ResourceLink.Description.IfMissingThen()</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ToolName)</dt>
        <dd>@Model.ResourceLink.ToolName.IfMissingThen()</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.CustomProperties)</dt>
        <dd><pre>@Model.ResourceLink.CustomProperties.IfMissingThen()</pre></dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ResourceLink.Id" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>