@page
@using AdvantagePlatform.Utility
@model IndexModel

@{
    ViewData["Title"] = "Platform Links";
}

<div class="container-fluid">
    <h4>@ViewData["Title"]</h4>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ResourceLinks[0].Title)</th>
                <th>@Html.DisplayNameFor(m => m.ResourceLinks[0].ToolName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResourceLinks)
            {
            <tr>
                <td>@item.Title.IfMissingThen()</td>
                <td>@item.ToolName.IfMissingThen()</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>