@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    
    @if (!User.Identity.IsAuthenticated)
    {
        <h4>Welcome Stranger!</h4>
        <p>
            Please <a asp-area="Identity" asp-page="/Account/Register">Register</a> 
            or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to access
            your personal instance of the .NET Core Advantage Platform sample.
        </p>
    }
    else
    {
        <h4>Welcome!</h4>
        <p>
            Here is a diagram of your personal instance of the .NET Core Advantage 
            Platform sample:
        </p>
        <div class="card text-white bg-info">
            <div class="card-header">
                <h4>Platform</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <dl>
                            <dt>@Html.DisplayNameFor(m => m.Platform.Name)</dt>
                            <dd>@Html.DisplayFor(m => m.Platform.Name)</dd>
                            <dt>@Html.DisplayNameFor(m => m.Platform.PublicKey)</dt>
                            <dd>
                                <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#platform-keys">
                                    @Html.DisplayNameFor(m => m.Platform.PublicKey)
                                </button>
                                <div class="modal fade" id="platform-keys" tabindex="-1" role="dialog" aria-labelledby="platform-keys-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="modal-title text-dark" id="platform-keys-label">@Html.DisplayNameFor(m => m.Platform.PublicKey)</div>
                                                <button type="button" class="close" data-dismiss="modal" area-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <pre>@Html.DisplayFor(m => m.Platform.PublicKey)</pre>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <p>
                            <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/Platform">Edit Platform Details</a>
                        </p>
                        <h5>Platform Tools</h5>
                        @if (Model.PlatformTools.Any())
                        {
                            <div class="row">
                                @foreach (var deployment in Model.PlatformTools)
                                {
                                    <div class="card bg-warning m-3">
                                        <div class="card-header">
                                            @deployment.Tool.Name
                                        </div>
                                        <div class="card-body">
                                            <dl>
                                                <dt>@Html.DisplayNameFor(m => m.PlatformTools[0].Tool.Url)</dt>
                                                <dd>@deployment.Tool.Url</dd>
                                                <dt>Client Name</dt>
                                                <dd>@deployment.Client.Name</dd>
                                            </dl>
                                            <a class="btn btn-sm btn-secondary" target="_blank" 
                                               asp-page="Deployments/LaunchPage" 
                                               asp-route-id="@deployment.Id" 
                                               asp-route-persona="teacher">Launch as Teacher</a>
                                            <a class="btn btn-sm btn-secondary" target="_blank" 
                                               asp-page="Deployments/LaunchPage" 
                                               asp-route-id="@deployment.Id" 
                                               asp-route-persona="student">Launch as Student</a>
                                        </div>
                                        <div class="card-footer">
                                            <a class="text-dark" asp-page="Deployments/Edit" asp-route-id="@deployment.Id">Edit Deployment Details</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <p>No tools deployed to the platform yet.</p>
                        }
                    </div>
                    <div class="col-8">
                        <div class="card bg-secondary">
                            <div class="card-header">
                                <h4>Course</h4>
                            </div>
                            <div class="card-body">
                                <dl>
                                    <dt>@Html.DisplayNameFor(m => m.Course.Name)</dt>
                                    <dd>@Html.DisplayFor(m => m.Course.Name)</dd>
                                </dl>
                                <p>
                                    <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/Course">Edit Course Details</a>
                                </p>
                                <h5>People</h5>
                                <div class="row">
                                    <div class="card bg-success m-3">
                                        <div class="card-header">
                                            <h5 class="card-title">Teacher</h5>
                                        </div>
                                        <div class="card-body">
                                            <dl>
                                                <dt>@Html.DisplayNameFor(m => m.Teacher.LastName), @Html.DisplayNameFor(m => m.Teacher.FirstName)</dt>
                                                <dd>@Html.DisplayFor(m => m.Teacher.LastName), @Html.DisplayFor(m => m.Teacher.FirstName)</dd>
                                            </dl>
                                        </div>
                                        <div class="card-footer">
                                            <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/People">Edit Teacher Details</a>
                                        </div>
                                    </div>
                                    <div class="card bg-success m-3">
                                        <div class="card-header">
                                            <h5 class="card-title">Student</h5>
                                        </div>
                                        <div class="card-body">
                                            <dl>
                                                <dt>@Html.DisplayNameFor(m => m.Student.LastName), @Html.DisplayNameFor(m => m.Student.FirstName)</dt>
                                                <dd>@Html.DisplayFor(m => m.Student.LastName), @Html.DisplayFor(m => m.Student.FirstName)</dd>
                                            </dl>
                                        </div>
                                        <div class="card-footer">
                                            <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/People">Edit Student Details</a>
                                        </div>
                                    </div>
                                </div>
                                <h5>Course Tools</h5>
                                @if (Model.CourseTools.Any())
                                {
                                    <div class="row">
                                        @foreach (var deployment in Model.CourseTools)
                                        {
                                            <div class="card bg-warning m-3">
                                                <div class="card-header">
                                                    @deployment.Tool.Name
                                                </div>
                                                <div class="card-body">
                                                    <dl>
                                                        <dt>@Html.DisplayNameFor(m => m.PlatformTools[0].Tool.Url)</dt>
                                                        <dd>@deployment.Tool.Url</dd>
                                                        <dt>Client Name</dt>
                                                        <dd>@deployment.Client.Name</dd>
                                                    </dl>
                                                    <a class="btn btn-sm btn-secondary" target="_blank" 
                                                       asp-page="Deployments/LaunchPage" 
                                                       asp-route-id="@deployment.Id" 
                                                       asp-route-persona="teacher">Launch as Teacher</a>
                                                    <a class="btn btn-sm btn-secondary" target="_blank" 
                                                       asp-page="Deployments/LaunchPage" 
                                                       asp-route-id="@deployment.Id" 
                                                       asp-route-persona="student">Launch as Student</a>
                                                </div>
                                                <div class="card-footer">
                                                    <a class="text-dark" asp-page="Deployments/Edit" asp-route-id="@deployment.Id">Edit Deployment Details</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <p>No tools deployed to the course yet.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>