@page
@using AdvantagePlatform.Pages.Components.DeepLinks
@using AdvantagePlatform.Pages.Components.Gradebook
@using AdvantagePlatform.Pages.Components.ResourceLinks
@using AdvantagePlatform.Pages.Components.Tools
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
                <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to create
                    your own instance of the .NET Core Advantage Platform for testing.
                </p>
            </div>
        }
        else
        {
            <div class="col-2">
                <h4>Welcome!</h4>
                <p>
                    On the right is a diagram of your personal instance of an LTI Advantage
                    test platform, which includes a course and two people (one teacher and
                    one student). After you register your tool and create a resource link,
                    you can launch your tool as either the student or teacher.
                </p>
                <h4>Getting Started</h4>
                <ol>
                    <li>
                        <a asp-page="./Tools/Index">Register Your Tool</a>.
                        This will generate a Client ID which you copy to your Tool.
                    </li>
                    <li>
                        <a asp-page="./CourseLinks/Index">Create a Course Link</a> to
                        place your Tool.
                    </li>
                    <li>
                        Launch your Tool as the Teacher or Student and watch your Tool appear!
                    </li>
                </ol>
            </div>
            <div class="col-10">
                <div class="card text-white bg-info">
                    <h4 class="card-header">
                        Platform
                        <a class="btn text-light fas fa-edit"
                           data-toggle="tooltip"
                           title="Edit the platform settings"
                           asp-area="Identity"
                           asp-page="Account/Manage/Platform">
                        </a>
                    </h4>
                    <div class="card-body">
                        <div class="row mb-3">

                            @* Platform Details Column *@

                            <div class="col-auto mb-3">
                                <div class="card bg-transparent">
                                    <h5 class="card-header">Platform Details</h5>
                                    <div class="card-body">
                                        <div>
                                            @(Model.Platform.Name ?? "(no name)")
                                        </div>
                                        <div>
                                            @(Model.Platform.Description ?? "(no description)")
                                        </div>
                                        <div>
                                            @(Model.Platform.ProductFamilyCode ?? "(no family code)")
                                            @(Model.Platform.Version ?? "(no version)")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Platform Links Column *@

                            <div class="col-auto mb-3">
                                <div class="card bg-transparent">
                                    <h5 class="card-header">
                                        Platform Links
                                        <a class="btn text-light fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the platform links"
                                           asp-page="./PlatformLinks/Index">
                                        </a>
                                    </h5>

                                    <div class="card-body">
                                        
                                        @await Component.InvokeAsync(typeof(DeepLinksViewComponent))
                                        @await Component.InvokeAsync(typeof(ResourceLinksViewComponent))

                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Course Row *@

                        <div class="row mb-3">
                            <div class="col">
                                <div class="card bg-secondary">
                                    <h4 class="card-header">
                                        Course
                                        <a class="btn text-light fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the course settings"
                                           asp-area="Identity"
                                           asp-page="Account/Manage/Course">
                                        </a>
                                    </h4>
                                    <div class="card-body">
                                        <div class="row">

                                            @* Course Details Column *@

                                            <div class="col-auto">
                                                <div class="card bg-transparent">
                                                    <h5 class="card-header">Course Details</h5>
                                                    <div class="card-body">
                                                        <div>
                                                            @(Model.Course.Name ?? "(no name)")
                                                        </div>
                                                        <div>
                                                            @(Model.Course.SisId ?? "(no sis id)")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @* Course Members Column *@

                                            <div class="col-auto">
                                                <div class="card bg-transparent">
                                                    <h5 class="card-header">
                                                        Members
                                                        <a class="btn text-light fas fa-edit"
                                                           data-toggle="tooltip"
                                                           title="Edit the member settings"
                                                           asp-area="Identity"
                                                           asp-page="Account/Manage/People">
                                                        </a>
                                                    </h5>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            @foreach (var person in Model.People.OrderBy(p => p.FirstName))
                                                            {
                                                                <div class="col-auto mb-3" style="max-width: 15em">
                                                                    <div>
                                                                        @(person.FirstName ?? "(no first name)")
                                                                        @(person.LastName ?? "(no last name)")
                                                                    </div>
                                                                    <div>
                                                                        @(person.Email ?? "(no email)")
                                                                    </div>
                                                                    <div>
                                                                        @(person.Roles ?? "(no roles)")
                                                                    </div>
                                                                    <div>
                                                                        @(person.SisId ?? "(no sis id)")
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @* Column Links Column *@

                                            <div class="col-auto">
                                                <div class="card bg-transparent">
                                                    <h5 class="card-header">
                                                        Course Links
                                                        <a class="btn text-light fas fa-edit"
                                                           data-toggle="tooltip"
                                                           title="Edit the course links"
                                                           asp-page="./CourseLinks/Index">
                                                        </a>
                                                    </h5>
                                                    <div class="card-body">
                                                        
                                                        @await Component.InvokeAsync(typeof(DeepLinksViewComponent), Model.Course.Id)
                                                        @await Component.InvokeAsync(typeof(ResourceLinksViewComponent), Model.Course.Id)

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        @* Gradebook Row *@

                                        @await Component.InvokeAsync(typeof(GradebookViewComponent), Model.Course.Id)
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* Tools Row *@

                        @await Component.InvokeAsync(typeof(ToolsViewComponent))

                    </div>
                </div>
            </div>
        }
    </div>
</div>