@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
            <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to create
                    your own instance of the .NET Core Advantage Platform for testing.
                </p>
            </div>
        }
        else
        {
            <div class="col-3">
                <h4>Welcome!</h4>
                <p>
                    On the right is a diagram of your personal instance of an LTI Advantage
                    Test Platform, which includes a test Course, and two people (one teacher and
                    one student). You can issue Client keys for your Tool Platform, define your
                    Tools, deployment them to the Platform or Course, and launch them with
                    either the student or teacher accounts.
                </p>
                <h4>Getting Started</h4>
                <ol>
                    <li>
                        Copy the Platform <code>id</code> and <code>public key</code> to your
                        Tool Platform. The <code>id</code> will appear in the <code>LtiResourceLinkRequest</code>
                        as the Issuer Claim (iss), and the <code>public key</code> can be used
                        to verify the signature on your Tool Platform.
                    </li>
                    <li>
                        <a asp-page="./Clients/Index">Create a Client</a> for your Tool Platform.
                        This will generate a <code>client_id</code>, <code>public key</code>,
                        and <code>private key</code>. Copy these to your Tool Platform. The
                        <code>client_id</code> will appear in the <code>LtiResourceLinkRequest</code>
                        as the Audience Claim (aud).
                    </li>
                    <li>
                        <a asp-page="./Tools/Index">Create a Tool</a> to represent your Tool on
                        your Tool Platform.
                    </li>
                    <li>
                        <a asp-page="./Deployments/Index">Create a Deployment</a> to place your Tool
                        in the Platform or Course context, and associate it with a Client.
                    </li>
                    <li>
                        Launch your Tool as the Teacher or Student and watch your Tool
                        appear!
                    </li>
                </ol>
            </div>
            <div class="col-9">
                <div class="card text-white bg-info">
                    <h4 class="card-header">Platform</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <dl class="col-sm-6">
                                        <dt>@Html.DisplayNameFor(m => m.Platform.Name)</dt>
                                        <dd>
                                            @Html.DisplayFor(m => m.Platform.Name)
                                        </dd>
                                    </dl>
                                    <p class="ml-auto mr-3">
                                        <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/Platform">Edit Platform Details</a>
                                    </p>
                                </div>
                                <h5>Tools</h5>
                                @if (Model.PlatformTools.Any())
                                {
                                    <div class="row">
                                        @foreach (var deployment in Model.PlatformTools)
                                        {
                                            <div class="card bg-warning m-3">
                                                <div class="card-header">
                                                    @deployment.Tool.Name
                                                </div>
                                                <div class="card-body">
                                                    <dl>
                                                        <dt>@Html.DisplayNameFor(m => m.PlatformTools[0].Tool.Url)</dt>
                                                        <dd>@deployment.Tool.Url</dd>
                                                        <dt>Client Name</dt>
                                                        <dd>@deployment.Client.Name</dd>
                                                    </dl>
                                                    <a class="btn btn-sm btn-secondary mt-2 mb-2" target="_blank"
                                                       asp-page="Deployments/LaunchPage"
                                                       asp-route-id="@deployment.Id"
                                                       asp-route-persona="teacher">Launch as Teacher</a>
                                                    <a class="btn btn-sm btn-secondary" target="_blank"
                                                       asp-page="Deployments/LaunchPage"
                                                       asp-route-id="@deployment.Id"
                                                       asp-route-persona="student">Launch as Student</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <p>No tools deployed to the platform yet. See Getting Started.</p>
                                }
                            </div>
                            <div class="col-8">
                                <div class="card bg-secondary">
                                    <h4 class="card-header">Course</h4>
                                    <div class="card-body">
                                        <div class="row">
                                            <dl class="col-sm-4">
                                                <dt>@Html.DisplayNameFor(m => m.Course.Name)</dt>
                                                <dd>@Html.DisplayFor(m => m.Course.Name)</dd>
                                            </dl>
                                            <p class="ml-auto mr-3">
                                                <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/Course">Edit Course Details</a>
                                            </p>
                                        </div>
                                        <h5>Members</h5>
                                        <div class="row">
                                            <dl class="col-sm-4">
                                                <dt>Teacher</dt>
                                                <dd>@Html.DisplayFor(m => m.Teacher.FirstName) @Html.DisplayFor(m => m.Teacher.LastName)</dd>
                                            </dl>
                                            <dl class="col-sm-4">
                                                <dt>Student</dt>
                                                <dd>@Html.DisplayFor(m => m.Student.FirstName) @Html.DisplayFor(m => m.Student.LastName)</dd>
                                            </dl>
                                            <p class="ml-auto mr-3">
                                                <a class="text-dark" asp-area="Identity" asp-page="Account/Manage/People">Edit Member Details</a>
                                            </p>
                                        </div>
                                        <h5>Tools</h5>
                                        @if (Model.CourseTools.Any())
                                        {
                                            <div class="row">
                                                @foreach (var deployment in Model.CourseTools)
                                                {
                                                    <div class="card bg-warning m-3">
                                                        <div class="card-header">
                                                            @deployment.Tool.Name
                                                        </div>
                                                        <div class="card-body">
                                                            <dl>
                                                                <dt>@Html.DisplayNameFor(m => m.PlatformTools[0].Tool.Url)</dt>
                                                                <dd>@deployment.Tool.Url</dd>
                                                                <dt>Client Name</dt>
                                                                <dd>@deployment.Client.Name</dd>
                                                            </dl>
                                                            <a class="btn btn-sm btn-secondary mb-2 mt-2" target="_blank"
                                                               asp-page="Deployments/LaunchPage"
                                                               asp-route-id="@deployment.Id"
                                                               asp-route-persona="teacher">Launch as Teacher</a>
                                                            <a class="btn btn-sm btn-secondary mb-2 mt-2" target="_blank"
                                                               asp-page="Deployments/LaunchPage"
                                                               asp-route-id="@deployment.Id"
                                                               asp-route-persona="student">Launch as Student</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <p>No tools deployed to the course yet. See Getting Started.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>