@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
            <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to create
                    your own instance of the .NET Core Advantage Platform for testing.
                </p>
            </div>
        }
        else
        {
            <div class="col-3">
                <h4>Welcome!</h4>
                <p>
                    On the right is a diagram of your personal instance of an LTI Advantage
                    test platform, which includes a course and two people (one teacher and
                    one student). After you register your tool and create a resource link, 
                    you can launch your tool as either the student or teacher.
                </p>
                <h4>Getting Started</h4>
                <ol>
                    <li>
                        <a asp-page="./Tools/Index">Register Your Tool</a>.
                        This will generate a Client ID which you copy to your Tool. 
                    </li>
                    <li>
                        <a asp-page="./CourseLinks/Index">Create a Course Link</a> to 
                        place your Tool.
                    </li>
                    <li>
                        Launch your Tool as the Teacher or Student and watch your Tool appear!
                    </li>
                </ol>
            </div>
            <div class="col-9">
                <div class="card text-white bg-info">
                    <h4 class="card-header">
                        Platform
                        <a class="btn text-light fas fa-edit"
                           data-toggle="tooltip"
                           title="Edit the platform settings"
                           asp-area="Identity"
                           asp-page="Account/Manage/Platform">
                        </a>
                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <dl class="col">
                                        <dt>@Html.DisplayNameFor(m => m.Platform.Name)</dt>
                                        <dd>
                                            <div>
                                                @(Model.Platform.Name ?? "(no name)")
                                            </div>
                                            <div>
                                                @(Model.Platform.Description ?? "(no description)")
                                            </div>
                                            <div>
                                                @(Model.Platform.ProductFamilyCode ?? "(no family code)")
                                                @(Model.Platform.Version ?? "(no version)")
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <h6 class="font-weight-bold">
                                    Platform Links
                                    <a class="btn text-light fas fa-edit"
                                       data-toggle="tooltip"
                                       title="Edit the platform resource links"
                                       asp-page="./PlatformLinks/Index">
                                    </a>
                                </h6>
                                @if (Model.PlatformResourceLinks.Any())
                                {
                                    foreach (var link in Model.PlatformResourceLinks)
                                    {
                                        <div class="row">
                                            <div class="col-sm-auto">
                                                <div class="card bg-warning mb-3 text-dark">
                                                    <h5 class="card-header text-truncate"><span title="@link.Title">@link.Title</span></h5>
                                                    <div class="card-body">
                                                        <div class="card-title">
                                                            @(link.ToolName ?? "(no tool name)")
                                                        </div>
                                                        @foreach (var person in Model.People)
                                                         {
                                                             <a class="btn btn-sm btn-secondary mt-2 mb-2" target="_blank"
                                                                data-toggle="tooltip" title="@($"Launch this tool as {person.FirstName} {person.LastName}")"
                                                                asp-page="ResourceLinks/LaunchPage"
                                                                asp-route-id="@link.Id"
                                                                asp-route-personId="@person.Id"><i class="fas fa-external-link-alt"></i> @person.FirstName</a>
                                                         }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No resource links in the platform yet.</p>
                                }
                            </div>
                            <div class="col-8">
                                <div class="card bg-secondary">
                                    <h4 class="card-header">
                                        Course
                                        <a class="btn text-light fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the course settings"
                                           asp-area="Identity"
                                           asp-page="Account/Manage/Course">
                                        </a>
                                    </h4>
                                    <div class="card-body">
                                        <div class="row">
                                            <dl class="col-sm-4">
                                                <dt>@Html.DisplayNameFor(m => m.Course.Name)</dt>
                                                <dd>
                                                    <div>
                                                        @(Model.Course.Name ?? "(no name)")
                                                    </div>
                                                    <div>
                                                        @(Model.Course.SisId ?? "(no sis id)")
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                        <h6 class="font-weight-bold">
                                            Members
                                            <a class="btn text-light fas fa-edit"
                                               data-toggle="tooltip"
                                               title="Edit the member settings"
                                               asp-area="Identity"
                                               asp-page="Account/Manage/People">
                                            </a>
                                        </h6>
                                        <div class="row">
                                            @foreach (var person in Model.People)
                                            {
                                                <div class="card bg-secondary mb-3" style="width: 12rem">
                                                    <div class="card-body">
                                                        <div class="card-title">
                                                            @(person.FirstName ?? "(no first name)")
                                                            @(person.LastName ?? "(no last name)")
                                                        </div>
                                                        <div>
                                                            @(person.Email ?? "(no email)")
                                                        </div>
                                                        <div>
                                                            @(person.Roles ?? "(no roles)")
                                                        </div>
                                                        <div>
                                                            @(person.SisId ?? "(no sis id)")
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <h6 class="font-weight-bold">
                                            Course Links
                                            <a class="btn text-light fas fa-edit"
                                               data-toggle="tooltip"
                                               title="Edit the course resource links"
                                               asp-page="./CourseLinks/Index">
                                            </a>
                                        </h6>
                                        @if (Model.CourseResourceLinks.Any())
                                        {
                                            <div class="row">
                                                @foreach (var link in Model.CourseResourceLinks)
                                                {
                                                    <div class="col-sm-auto">
                                                        <div class="card bg-warning mb-3 text-dark">
                                                            <h5 class="card-header text-truncate"><span title="@link.Title">@link.Title</span></h5>
                                                            <div class="card-body">
                                                                <div class="card-title">
                                                                    @(link.ToolName ?? "(no tool name)")
                                                                </div>
                                                                @if (Model.People != null)
                                                                {
                                                                    foreach (var person in Model.People)
                                                                     {
                                                                         <a class="btn btn-sm btn-secondary mt-2 mb-2" target="_blank"
                                                                            data-toggle="tooltip" title="@($"Launch this tool as {person.FirstName} {person.LastName}")"
                                                                            asp-page="ResourceLinks/LaunchPage"
                                                                            asp-route-id="@link.Id"
                                                                            asp-route-personId="@person.Id"><i class="fas fa-external-link-alt"></i> @person.FirstName</a>
                                                                     }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <p>No resource links in the course yet.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card bg-success">
                                    <h5 class="card-header">
                                        Tools
                                        <a class="btn text-light fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the tools"
                                           asp-page="./Tools/Index">
                                        </a>
                                    </h5>
                                    <div class="card-body">
                                        @if (!Model.Tools.Any())
                                        {
                                            <p> No tools have been registered. See Getting Started.</p>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                @foreach (var tool in Model.Tools)
                                                {
                                                    <div class="col-sm-4">
                                                        <div class="card bg-light mb-3 text-dark">
                                                            <h5 class="card-header text-truncate">@tool.Name</h5>
                                                            <div class="card-body">
                                                                <dl>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].LaunchUrl)</dt>
                                                                    <dd class="text-truncate"><span title="@tool.LaunchUrl">@tool.LaunchUrl</span></dd>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].ClientId)</dt>
                                                                    <dd>@tool.ClientId</dd>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].DeploymentId)</dt>
                                                                    <dd>@tool.DeploymentId</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>