@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="col">
            <h4>Welcome Stranger!</h4>
                <p>
                    Please <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    or <a asp-area="Identity" asp-page="/Account/Login">Sign In</a> to create
                    your own instance of the .NET Core Advantage Platform for testing.
                </p>
            </div>
        }
        else
        {
            <div class="col-3">
                <h4>Welcome!</h4>
                <p>
                    On the right is a diagram of your personal instance of an LTI Advantage
                    test platform, which includes a course and two people (one teacher and
                    one student). After you register your tool and create a resource link, 
                    you can launch your tool as either the student or teacher.
                </p>
                <h4>Getting Started</h4>
                <ol>
                    <li>
                        <a asp-page="./Tools/Index">Register Your Tool</a>.
                        This will generate a Client ID which you copy to your Tool. 
                    </li>
                    <li>
                        <a asp-page="./ResourceLinks/Index">Create a Resource Link</a> to 
                        place your Tool in the Platform or Course context.
                    </li>
                    <li>
                        Launch your Tool as the Teacher or Student and watch your Tool appear!
                    </li>
                </ol>
            </div>
            <div class="col-9">
                <div class="card text-white bg-info">
                    <h4 class="card-header">
                        Platform
                        <a class="btn text-light float-sm-right fas fa-edit"
                           data-toggle="tooltip"
                           title="Edit the Platform Settings"
                           asp-area="Identity"
                           asp-page="Account/Manage/Platform">
                        </a>
                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                    <dl class="col">
                                        <dt>@Html.DisplayNameFor(m => m.Platform.Name)</dt>
                                        <dd>
                                            @Html.DisplayFor(m => m.Platform.Name)
                                        </dd>
                                    </dl>
                                </div>
                                <h4>
                                    Resource Links
                                    <a class="btn text-light float-sm-right fas fa-edit"
                                       data-toggle="tooltip"
                                       title="Edit the Tools"
                                       asp-page="./ResourceLinks/Index">
                                    </a>
                                </h4>
                                @if (Model.PlatformResourceLinks.Any())
                                {
                                    @foreach (var link in Model.PlatformResourceLinks)
                                    {
                                        <div class="row">
                                            <div class="col-sm-auto">
                                                <div class="card bg-warning mb-3 text-dark">
                                                    <h5 class="card-header text-truncate"><span title="@link.Title">@link.Title</span></h5>
                                                    <div class="card-body">
                                                        <dl>
                                                            <dt>@Html.DisplayNameFor(m => m.PlatformResourceLinks[0].ToolName)</dt>
                                                            <dd>@link.ToolName</dd>
                                                        </dl>
                                                        <a class="btn btn-sm btn-secondary mt-2 mb-2" target="_blank"
                                                           asp-page="ResourceLinks/LaunchPage"
                                                           asp-route-id="@link.Id"
                                                           asp-route-persona="teacher">Launch as Teacher</a>
                                                        <a class="btn btn-sm btn-secondary" target="_blank"
                                                           asp-page="ResourceLinks/LaunchPage"
                                                           asp-route-id="@link.Id"
                                                           asp-route-persona="student">Launch as Student</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No resource links deployed to the platform yet. See Getting Started.</p>
                                }
                            </div>
                            <div class="col-8">
                                <div class="card bg-secondary">
                                    <h4 class="card-header">
                                        Course
                                        <a class="btn text-light float-sm-right fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the Course Settings"
                                           asp-area="Identity"
                                           asp-page="Account/Manage/Course">
                                        </a>
                                    </h4>
                                    <div class="card-body">
                                        <div class="row">
                                            <dl class="col-sm-4">
                                                <dt>@Html.DisplayNameFor(m => m.Course.Name)</dt>
                                                <dd>@Html.DisplayFor(m => m.Course.Name)</dd>
                                            </dl>
                                        </div>
                                        <h4>
                                            Members
                                            <a class="btn text-light float-sm-right fas fa-edit"
                                               data-toggle="tooltip"
                                               title="Edit the Member Settings"
                                               asp-area="Identity"
                                               asp-page="Account/Manage/People">
                                            </a>
                                        </h4>
                                        <div class="row">
                                            <dl class="col-sm-4">
                                                <dt>Teacher</dt>
                                                <dd>@Html.DisplayFor(m => m.Teacher.FirstName) @Html.DisplayFor(m => m.Teacher.LastName)</dd>
                                            </dl>
                                            <dl class="col-sm-4">
                                                <dt>Student</dt>
                                                <dd>@Html.DisplayFor(m => m.Student.FirstName) @Html.DisplayFor(m => m.Student.LastName)</dd>
                                            </dl>
                                        </div>
                                        <h4>
                                            Resource Links
                                            <a class="btn text-light float-sm-right fas fa-edit"
                                               data-toggle="tooltip"
                                               title="Edit the Tools"
                                               asp-page="./ResourceLinks/Index">
                                            </a>
                                        </h4>
                                        @if (Model.CourseResourceLinks.Any())
                                        {
                                            <div class="row">
                                                @foreach (var link in Model.CourseResourceLinks)
                                                {
                                                    <div class="col-sm-auto">
                                                        <div class="card bg-warning mb-3 text-dark">
                                                            <h5 class="card-header text-truncate"><span title="@link.Title">@link.Title</span></h5>
                                                            <div class="card-body">
                                                                <dl>
                                                                    <dt>@Html.DisplayNameFor(m => m.CourseResourceLinks[0].ToolName)</dt>
                                                                    <dd>@link.ToolName</dd>
                                                                </dl>
                                                                <a class="btn btn-sm btn-secondary mb-2 mt-2" target="_blank"
                                                                   asp-page="ResourceLinks/LaunchPage"
                                                                   asp-route-id="@link.Id"
                                                                   asp-route-persona="teacher">Launch as Teacher</a>
                                                                <a class="btn btn-sm btn-secondary mb-2 mt-2" target="_blank"
                                                                   asp-page="ResourceLinks/LaunchPage"
                                                                   asp-route-id="@link.Id"
                                                                   asp-route-persona="student">Launch as Student</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <p>No resource links deployed to the course yet. See Getting Started.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="card bg-success">
                                    <h5 class="card-header">
                                        Tools
                                        <a class="btn text-light float-sm-right fas fa-edit"
                                           data-toggle="tooltip"
                                           title="Edit the Tools"
                                           asp-page="./Tools/Index">
                                        </a>
                                    </h5>
                                    <div class="card-body">
                                        @if (!Model.Tools.Any())
                                        {
                                            <p> No tools have been registered. See Getting Started.</p>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                @foreach (var tool in Model.Tools)
                                                {
                                                    <div class="col-sm-4">
                                                        <div class="card bg-light mb-3 text-dark">
                                                            <h5 class="card-header text-truncate">@tool.Name</h5>
                                                            <div class="card-body">
                                                                <dl>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].Url)</dt>
                                                                    <dd class="text-truncate"><span title="@tool.Url">@tool.Url</span></dd>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].ClientId)</dt>
                                                                    <dd>@tool.ClientId</dd>
                                                                    <dt>@Html.DisplayNameFor(m => m.Tools[0].DeploymentId)</dt>
                                                                    <dd>@tool.DeploymentId</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>