@page
@model PeopleModel
@{
    ViewData["Title"] = "People";
    ViewData["ActivePage"] = "People";
}

<h4>@ViewData["Title"]</h4>
<p>
    These people were created for you when you registered. They will
    be used for all interactions with Tools.
</p>


<form method="post">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        @* ReSharper disable once ForCanBeConvertedToForeach *@
        @for (var i = 0; i < Model.People.Count; i++)
        {
            <div class="card col-sm-auto mr-3 mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="@Model.People[i].Id"></label>
                        <input asp-for="@Model.People[i].Id" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.People[i].FirstName"></label>
                        <input asp-for="@Model.People[i].FirstName" class="form-control" />
                        <span asp-validation-for="@Model.People[i].FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.People[i].LastName"></label>
                        <input asp-for="@Model.People[i].LastName" class="form-control" />
                        <span asp-validation-for="@Model.People[i].LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.People[i].Roles"></label>
                        <input asp-for="@Model.People[i].Roles" class="form-control" />
                        <span asp-validation-for="@Model.People[i].Roles" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.People[i].SisId"></label>
                        <input asp-for="@Model.People[i].SisId" class="form-control" />
                        <span asp-validation-for="@Model.People[i].SisId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.People[i].Username"></label>
                        <input asp-for="@Model.People[i].Username" class="form-control" />
                        <span asp-validation-for="@Model.People[i].Username" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}