@page
@model PeopleModel
@{
    ViewData["Title"] = "People";
    ViewData["ActivePage"] = "People";
}

<h4>@ViewData["Title"]</h4>
<p>
    These people were created for you when you registered. They will
    be used for all interactions with Tools.
</p>


<form method="post">
    <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
        @foreach (var person in Model.People)
        {
            <div class="card col-sm-auto mr-3 mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="@person.Id"></label>
                        <input asp-for="@person.Id" class="form-control" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@person.FirstName"></label>
                        <input asp-for="@person.FirstName" class="form-control" />
                        <span asp-validation-for="@person.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@person.LastName"></label>
                        <input asp-for="@person.LastName" class="form-control" />
                        <span asp-validation-for="@person.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@person.Roles"></label>
                        <input asp-for="@person.Roles" class="form-control" />
                        <span asp-validation-for="@person.Roles" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@person.SisId"></label>
                        <input asp-for="@person.SisId" class="form-control" />
                        <span asp-validation-for="@person.SisId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}