@page
@model PlatformModel
@{
    ViewData["Title"] = "Platform";
    ViewData["ActivePage"] = "Platform";
}

<h4>@ViewData["Title"]</h4>

<div>
    <form id="regenerate-keys" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Platform.PlatformId)
                <span data-toggle="tooltip" data-placement="top" data-html="true"
                      title="The <b>@Html.DisplayNameFor(m => m.Platform.PlatformId)</b>
                      is the Issuer for messages that originate from the Platform such as 
                      an LtiResourceLinkRequest.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Platform.PlatformId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Platform.PublicKey)
                <span data-toggle="tooltip" data-placement="top" data-html="true"
                      title="Tools validate the JWT signature of messages sent by the
                      platform using the <b>@Html.DisplayNameFor(m => m.Platform.PublicKey)</b>.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </dt>
            <dd>
                <pre>@Model.Platform.PublicKey</pre>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Platform.PrivateKey)
                <span data-toggle="tooltip" data-placement="top" data-html="true"
                      title="The Platform will sign the JWT of messages it sends using the
                      <b>@Html.DisplayNameFor(m => m.Platform.PrivateKey)</b>.">
                    <i class="fa fa-info-circle"></i>
                </span>
            </dt>
            <dd>
                <pre>@Model.Platform.PrivateKey</pre>
            </dd>
        </dl>
        <button class="btn btn-danger" type="submit">
            Regenerate Platform Keys
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}