@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <h4>Course Link</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.Title)</dt>
        <dd>@Model.ResourceLink.Title</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.ToolName)</dt>
        <dd>@Model.ResourceLink.ToolName</dd>
        <dt>@Html.DisplayNameFor(m => m.ResourceLink.CustomProperties)</dt>
        <dd><pre>@(Model.ResourceLink.CustomProperties ?? "[Not Set]")</pre></dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ResourceLink.Id" />
        <input type="submit" value="Delete" class="btn btn-secondary" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>